<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Robson Produções</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="icon" href="logo.png" type="image/x-icon">

  </head>

  <body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader" class="dots-jump">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>


    <!-- header 
    ================================================== -->
    <header class="s-header">

      <div class="row">
        <div class="header-logo">
          <a class="site-logo" href="/">
            <span>ROBSON<br>PRODUÇÕES</span>
            <!--<img src="images/icon.png"/>-->
          </a>
        </div>

        <nav class="header-nav-wrap">
          <ul class="header-main-nav">
            <li class="current"><a class="smoothscroll" href="#home" title="intro">Início</a></li>
            <li><a class="smoothscroll" href="#about" title="about">Serviços</a></li>
            <li><a class="smoothscroll" href="#features" title="features">Comentários</a></li>
            <li><a class="smoothscroll" href="#pricing" title="pricing">Preços</a></li>
            <li><a th:href="@{/trabalhos}" title="download">Trabalhos</a></li>	
          </ul>

          <div class="header-cta">
            <a href="#footer" class="btn btn--primary header-cta__btn smoothscroll">Comece já</a>
          </div>
        </nav> <!-- end header-nav-wrap -->

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
      </div>

    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="https://media.istockphoto.com/photos/condenser-microphone-on-boom-stand-with-headphones-picture-id1304350107?b=1&k=20&m=1304350107&s=170667a&w=0&h=HAIGJnU61G_qXzck6nHg7qkYxLt0fi4Bw2LFOAuEWIw=" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

      <div class="shadow-overlay"></div>

      <div class="home-content">

        <div class="row home-content__main">

          <div class="home-content__left">
            <h1>
              Robson <br>
              Produções
            </h1>

            <h3>
              Voluptatem ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explica. Nemo enim ipsam voluptatem quia. 
              Ut quis enim.
            </h3>

            <div class="home-content__btn-wrap">
              <a href="#footer" class="btn btn--primary home-content__btn smoothscroll">
                Comece agora!
              </a>
            </div>
          </div> <!-- end home-content__left-->



        </div> <!-- end home-content__main -->

        <ul class="home-content__social">
          <li><a href="#0">Facebook</a></li>
          <li><a href="#0">twitter</a></li>
          <li><a href="#0">Instagram</a></li>
        </ul>

      </div> <!-- end home-content -->

      <a href="#about" class="home-scroll smoothscroll">
        <span class="home-scroll__text">Scroll</span>
        <span class="home-scroll__icon"></span>
      </a> 

    </section> <!-- end s-home -->


        <!-- categories
    ================================================== -->
    <div class="categories-section">
      <a id="gospel-category-link" href="/trabalhos?category=GOSPEL" hidden></a>
      <a id="sertanejo-category-link" href="/trabalhos?category=SERTANEJO" hidden></a>
      <a id="forro-category-link" href="/trabalhos?category=FORRÓ" hidden></a>

      <div class="category-container" id="sertanejo-category-container" data-aos="fade-up">
        <div class="img-container category-img">
          <img src="https://media.wnyc.org/i/1860/1240/l/80/1/AP_90748187937.jpg" alt="Cantor sertanejo.">
          <div class="mask"></div>
        </div>
        <div class="description-container">
          <h2>Sertanejo</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="category-container" id="gospel-category-container" data-aos="fade-up">

        <div class="img-container category-img">
          <img src="https://www.giromarilia.com.br/img/news/fernandinho-gospel_1574450928.jpg" alt="Cantor sertanejo.">
          <div class="mask"></div>
        </div> 
        <div class="description-container">
          <h2>Gospel</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="category-container" id="forro-category-container" data-aos="fade-up">
        <div class="img-container category-img">
          <img src="https://c1.wallpaperflare.com/preview/157/850/558/rock-music-rock-n-roll-guitar-singers-concert.jpg" alt="Cantor sertanejo.">
          <div class="mask"></div>
        </div>
        <div class="description-container">
          <h2>Forró</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>

    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section" data-parallax="scroll" data-image-src="https://i.pinimg.com/736x/ac/3a/f6/ac3af69c66c239ac58a34cdee40e7a0b--studio-home-music-studios.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

      <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
          <h1 class="display-1">
            Aqui fazemos de tudo
          </h1>
          <p class="lead">
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
            Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
            omnis ea.
          </p>
        </div>
      </div> <!-- end section-header -->

      <div class="row wide about-desc" data-aos="fade-up">

        <div class="col-full slick-slider about-desc__slider">

          <div class="about-desc__slide">
            <h3 class="item-title">Remixagem.</h3>

            <p>
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
              omnis ea aut cumque eos.
            </p>
          </div>  <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">Produção.</h3>

            <p>
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
              omnis ea aut cumque eos.
            </p>
          </div>  <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">Guias.</h3>

            <p>
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
              omnis ea aut cumque eos.
            </p>
          </div>  <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">Gravações.</h3>

            <p>
              Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
              Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
              omnis ea aut cumque eos.
            </p>
          </div>  <!-- end about-desc__slide -->

        </div> <!-- end about-desc__slider -->

      </div> <!-- end about-desc -->

    </section> <!-- end s-about -->


    <!-- about-how
    ================================================== -->
    <section id="about-how" class="s-about-how" >

      <div class="row">
        <div class="col-full video-bg" data-aos="fade-up">

          <div class="shadow-overlay"></div>

          <a class="btn-video" href="https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0" data-lity>
            <span class="video-icon"></span>
          </a>

          <div class="stats">
            <div class="item-stats">
              <span class="item-stats__num">
                1K
              </span>
              <span class="item-stats__title">
                Clientes satisfeitos
              </span>
            </div> <!-- end item-stats -->
            <div class="item-stats">
              <span class="item-stats__num">
                3K
              </span>
              <span class="item-stats__title">
                Trabalhos realizados
              </span>
            </div> <!-- end item-stats -->
          </div>
        </div> <!-- end video-bg -->
      </div>


    </section> <!-- end s-about-how -->


    <!-- features
    ================================================== -->
    <section id="features" class="s-features target-section">

      <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
          <h1 class="display-1">
            Damos valor ao seu feedback.
          </h1>
          <p class="lead">
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
            Ut quis enim rerum quia assumenda repudiandae molestiae cumque qui. Amet repellat 
            omnis ea.
          </p>
        </div>
      </div> <!-- end section-header -->

      <div class="testimonials-wrap" data-aos="fade-up">

        <div class="row">
          <div class="col-full testimonials-header">
            <h2 class="display-2">O que eles dizem de nós!</h2>
          </div>
        </div>

        <div class="row testimonials">

          <div class="col-full slick-slider testimonials__slider">

            <div class="testimonials__slide">
              <!--<img src="images/avatars/user-03.jpg" alt="Author image" class="testimonials__avatar">-->

              <p>Qui ipsam temporibus quisquam velMaiores eos cumque distinctio nam accusantium ipsum. 
                Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium praesentium corpori.</p>

              <div class="testimonials__author">
                <span class="testimonials__name">Naruto Uzumaki</span>
                <a href="#0" class="testimonials__link">@narutouzumaki</a>
              </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
              <!--<img src="images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">-->

              <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>

              <div class="testimonials__author">
                <span class="testimonials__name">Sasuke Uchiha</span>
                <a href="#0" class="testimonials__link">@sasukeuchiha</a>
              </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
              <!--<img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">-->

              <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.  
                Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>

              <div class="testimonials__author">
                <span class="testimonials__name">Shikamaru Nara</span>
                <a href="#0" class="testimonials__link">@shikamarunara</a>
              </div>
            </div> <!-- end testimonials__slide -->

          </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

      </div> <!-- end testimonials-wrap -->

    </section> <!-- end s-features -->


    <!-- pricing
    ================================================== -->
    <section id="pricing" class="s-pricing target-section">

      <div class="row section-header align-center" data-aos="fade-up">
        <div class="col-full">
          <h1 class="display-1">
            Confira nossos preços
          </h1>
          <p class="lead">
            Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est. 
            Ut quis enim rerum quia assumenda repudiandae non cumque qui. Amet repellat 
            omnis ea.
          </p>
        </div>
      </div> <!-- end section-header -->

      <div class="row plans block-1-2 block-m-1-2 block-tab-full stack">

        <div class="col-block item-plan" data-aos="fade-up">
          <div class="item-plan__block"> 

            <div class="item-plan__top-part">
              <h3 class="item-plan__title">Guias</h3>
              <p class="item-plan__price">$150</p>
              <p class="item-plan__per">Forever</p>
            </div>

            <div class="item-plan__bottom-part">
              <ul class="item-plan__features">
                <li><span>5GB</span> Storage</li>
                <li><span>10GB</span> Bandwidth</li>
                <li><span>30</span> Email Accounts</li>
                <li>Backup & Restore</li>
              </ul>

              <a class="btn btn--primary large full-width" href="#0">Get Started</a>
            </div>  

          </div>
        </div> <!-- end item-plan -->

        <div class="col-block item-plan item-plan--popular" data-aos="fade-up">
          <div class="item-plan__block"> 

            <div class="item-plan__top-part">
              <h3 class="item-plan__title">Produção</h3>
              <p class="item-plan__price">$350</p>
              <p class="item-plan__per">Per Month</p>
            </div>

            <div class="item-plan__bottom-part">
              <ul class="item-plan__features">
                <li><span>500GB</span> Storage</li>
                <li><span>Unlimited</span> Bandwidth</li>
                <li><span>50</span> Email Accounts</li>
                <li>Backup & Restore</li>
              </ul>

              <a class="btn btn--primary large full-width" href="#0">Get Started</a>
            </div>

          </div>
        </div> <!-- end item-plan -->

      </div> <!-- end plans -->

    </section> <!-- end s-pricing -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer footer" id="footer">

      <div class="row section-header align-center">
        <div class="col-full">
          <h1 class="display-1">
            Faça contato e envie uma amostra do seu trabalho.
          </h1>
          <p class="lead">
            Subscribe for updates, special offers, and other amazing stuff.
          </p>
        </div>
      </div> <!-- end section-header -->

      <div class="row footer__top" >

        <div class="col-full footer__subscribe end">
          <div class="subscribe-form">
            <form id="mc-form" class="group" th:method="POST" enctype="multipart/form-data" th:action="@{/send-email}" th:modelAttribute="emailBody">

              <input type="email" value="" name="email" class="input-text" id="mc-email" placeholder="Endereço de email"
                     required="">
              <input type="text" value="" name="name" class="input-text" id="mc-email" placeholder="Nome"
                     required="">
              <textarea class="input-text" name="message" id="mc-message" placeholder="Envie uma mensagem"></textarea>
              <div class="upload-field">
                <input type="text" id="upload-placeholder" class="input-text" value="Carregue uma amostra" disabled>
                <input type="button" value="Upload" onclick="uploadFile()">
                  <input type="file" name="sampleFile" id="upload-input" onchange="changeFileName()" style="display:none;">
              </div>

              <input type="submit" class="btn btn--primary" name="subscribe" value="Enviar">

            </form>
          </div>
        </div>

      </div> <!-- end footer__top -->

      <div class="row footer__bottom">

        <div class="footer__about col-five tab-full left">

          <h4>Sobre nós.</h4>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex consectetur adipisicing elit do eiusmod tempor.
          </p>

          <ul class="footer__social">
            <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>

        <div class="col-five md-seven tab-full right end">
          <div class="row">

            <div class="footer__site-links col-five mob-full">
              <h4>Links.</h4>

              <ul class="footer__site-links">
                <li><a href="#home" class="smoothscroll">Início</a></li>
                <li><a href="#about" class="smoothscroll">Serviços</a></li>
                <li><a href="#features" class="smoothscroll">Comentários</a></li>
                <li><a href="#pricing" class="smoothscroll">Preços</a></li>
                <li><a href="#footer" class="smoothscroll">Contato</a></li>
              </ul>
            </div>

            <div class="footer__contact col-seven mob-full">
              <h4>Entre em contato.</h4>

              <p>
                Telefone (+63) 555 1212 <br>
                Whatsapp: (+63) 555 0100
              </p>
              <p>
                Caso queira nos enviar um email <br>
                <a href="mailto:#0" class="footer__mail-link">support@kairos.com</a>
              </p>
            </div>

          </div>
        </div>

        <div class="col-full ss-copyright">
          <span>&copy; Copyright robsonproducoes 2022</span> 
        </div>

      </div> <!-- end footer__bottom -->

      <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
      </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

  </body>